   <br />
<div align="center" style="clear:left; ">

	<span class="ufak_font"><a href="sistem/tum_forumlari_okunmus_say.php" class="smLink">Tüm forumlari okunmus say</a> :: <a href="sistem/cikis.php" class="smLink">Tüm forum çerezlerini sil</a>
	<br></span>
<br>

<span class="text" style="font-size:10px">{COPYRIGHT}</span><span class="ufak_font"><br><br>
</span>
</div>
   
<div align="center" style="color:#555">Sayfa <strong>{SAYFA_HIZI}</strong> sn'de üretildi.</div>

<!-- div class logo_arka bitti-->

</div><!-- koca_forumu_topla-->

</body>
</html>