<form action="sistem/login_yap.php" method="post">

<table width="70%" align="center" cellpadding="3" cellspacing="1" class="tablo_border">
 <tr class="gri_ust">
  <td colspan="2" align="left">Forum Giriþ</td>
 </tr>
 <tr class="tableRow">
  <td width="30%" align="right"><label for="kul">Kullanýcý</label></td>
  <td width="70%"><input name="kul" id="kul" size="40" maxlength="30"  type="text">
    <a href="kayit.php">Kayýt ol</a></td>
 </tr>
 <tr class="tableRow">
  <td align="right"><label for="sifre2">Þifre</label></td>
  <td align="left"><input name="sifre" id="sifre2" size="40" maxlength="30" value=""  type="password"> 
    <a href="htt" >Þifremi unuttum</a></td>
 </tr>   
 <tr class="tableRow">
   <td align="right"><label for="gizli">Kimseye Görünme</label></td>
   <td><input name="gizli" type="checkbox" id="gizli" value="gizli" /></td>
 </tr>
 <tr class="tableRow">
  <td align="right"><label for="hatirla2">Beni bu bilgisayarda hatýrla</label></td>
  <td><label>
    <input name="hatirla" type="checkbox" id="hatirla2" value="hatirla">
  </label></td>
 </tr>
 <tr class="tableBottomRow">
  <td colspan="2" align="center"><input name="Submit" id="Submit" value="Forum Giriþ" tabindex="4" type="submit" class="buton">
   <input name="Reset" id="Reset" value="Temizle" tabindex="5" type="reset" class="buton">  </td>
 </tr>
</table>


</form>