<h1>Üye Profili</h1>

<table width="100%" align="center" cellpadding="3" cellspacing="1" class="tablo_border">
  <tr class="gri_ust">
  <td width="50%">Üye Profili</td>
  <td width="50%">Ýstatistikler</td>
 </tr>
 <tr class="tableRow">
  <td valign="top">
   <table width="100%" border="0" cellpadding="2" cellspacing="1"><tr>
     <td width="30%"><img src="{KUL_AVATAR}" id="avatar" alt="Avatar"></td>
     <td width="80%">&nbsp;</td>
    </tr>
    <tr>
     <td>Kullanýcý:</td>
     <td>{KUL_ADI}</td>
    </tr>
    <tr>
      <td>Group:</td>
      <td>{KUL_GRUP_NAME}</td>
    </tr>
    <tr>
     <td>Durum:</td>
     <td>{ONLINE_MI}</td>
    </tr>
   </table>
  </td>
  <td valign="top">
   <table width="100%" border="0" cellpadding="2" cellspacing="1">
    <tr>
     <td width="30%">Kayýt:</td>
     <td width="80%">{KUL_KAYIT_ZAMANI}</td>
    </tr>
    <tr>
     <td>Son Ziyaret:</td>
     <td>{KUL_SON_GIRIS}</td>
    </tr>
    <tr>
     <td>Mesajlar:</td>
     <td>{KUL_TOPLAM_MESAJ}</td>
    </tr>
    <tr>
     <td>Gönderilerini Bul:</td>
     <td><a href="search.php?u={KUL_ID}">Üyenin mesajlarýný bul</a></td>
    </tr>
    <tr>
     <td>Cevaplar:</td>
     <td>2</td>
    </tr>
    <tr>
     <td valign="top">Þu Anda Nerede:</td>
     <td>{KUL_SON_SAYFA}</td>
    </tr>
   </table>
  </td>
 
 <tr class="gri_ust">
  <td>Bilgi</td>
  <td>Ýletiþim</td>
 </tr>
 <tr class="tableRow">
  <td valign="top">
   <table width="100%" border="0" cellpadding="2" cellspacing="1"><tr>
     <td width="30%"><strong>Gerçek Ýsminiz</strong></td>
     <td width="80%">{KUL_GERCEK_AD}</td>
    </tr>
    <tr>
     <td width="30%"><strong>Cinsiyeti:</strong></td>
     <td width="80%">{KUL_CINSIYET} <img src="{CINS_IKON}" title="" alt="" /></td>
    </tr>
    <tr>
     <td><strong>Doðum Tarihi:</strong></td>
     <td>{KUL_DOGUM_TARIHI}</td>
    </tr>
    <tr>
     <td><strong>Yaþý:</strong></td>
     <td>{KUL_YAS}</td>
    </tr>
    <tr>
     <td><strong>Bulunduðu Yer:</strong></td>
     <td>{KUL_YER}</td>
    </tr>
    <tr>
     <td><strong>Mesleði:</strong></td>
     <td>{KUL_MESLEK}</td>
    </tr>
    <tr>
     <td><strong>Biyografisi:</strong></td>
     <td>{KUL_BIYOGRAFI}</td>
    </tr>
    <tr>
     <td><strong>Hobileri:</strong></td>
     <td>{KUL_HOBI}</td>
    </tr>
   </table>
  </td>
  <td valign="top">
   <table width="100%" border="0" cellpadding="2" cellspacing="1"><tr>
     <td>Özel Mesaj</td>
     <td><a href="{KUL_EMAIL}"><img src="{TEMA_YOLU}/images/pm.png" alt="Özel Mesaj" title="Özel Mesaj" border="0"></a></td>
    </tr>
    <tr>
     <td>Yahoo:</td>
     <td><a href="{KUL_YAHOO}"><img src="{TEMA_YOLU}/images/yahoo.png" alt="Yahoo" title="Yahoo" border="0"></a></td>
    </tr>
    <tr>
     <td width="30%">Msn:</td>
     <td width="80%"><a href="{KUL_MSN}"><img src="{TEMA_YOLU}/images/msn.png" alt="Msn" title="Msn" border="0"></a></td>
    </tr><tr>
     <td>Aim:</td>
     <td><a href="{KUL_AIM}"><img src="{TEMA_YOLU}/images/aim.png" alt="Aim" title="Aim" border="0"></a></td>
    </tr>
    <tr>
     <td>Skype:</td>
     <td><a href="{KUL_SKYPE}"><img src="{TEMA_YOLU}/images/skype.png" alt="Skype" title="Skype" border="0"></a></td>
    </tr>
    <tr>
     <td>Icq:</td>
     <td><a href="{KUL_ICQ}"><img src="{TEMA_YOLU}/images/icq.png" alt="Icq" title="Icq" border="0"></a></td>
    </tr>
    
    <tr>
     <td>Email:</td>
     <td><a href="{KUL_EMAIL}"><img src="{TEMA_YOLU}/images/email.png" alt="Email" title="Email" border="0"></a></td>
    </tr>
   </table>
  </td>
 </tr>
</table>