<div class="sol_taraf_profil">
        <div class="arrowlistmenu">
            
            <div class="headerbar">Ana Ayar Menü</div>
            <ul>
            <li><a href="<!-- IF SEO_AKTIFSE -->profil_duzenle.html<!-- ELSE IF -->?do=profil_detay<!-- ENDIF -->">Profil Detay</a></li>
            <li><a href="<!-- IF SEO_AKTIFSE -->sifre_email.html<!-- ELSE IF -->?do=sifre_email<!-- ENDIF -->">Þifre ve Email Deðiþtir</a></li>
            <li><a href="<!-- IF SEO_AKTIFSE -->imza_degistir.html<!-- ELSE IF -->?do=imza <!-- ENDIF -->">Ýmza deðiþtir</a></li>
            <li><a href="<!-- IF SEO_AKTIFSE -->avatar_degistir.html<!-- ELSE IF -->?do=avatar <!-- ENDIF -->">Avatar Deðiþtir</a></li>
            </ul>
        
        </div>
        <br />
        
        <div class="arrowlistmenu">
            <div class="headerbar">Abonelik</div>
            <ul>
               <li><a href="<!-- IF SEO_AKTIFSE -->benim_aboneliklerim.html<!-- ELSE IF -->?do=abonelik <!-- ENDIF -->">Benim Aboneliðim</a></li>
            </ul>
        </div>


	</div>