
<table width="" class="profil_topla" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>	
    
    <!-- INCLUDE profil_sol_menu.html -->
    
    <!-- IF DO == "profil_detay" -->
    <!-- INCLUDE profil_sag_profil_detay.html -->
    <!-- ENDIF -->
    
    <!-- IF DO == "sifre_email" -->
    <!-- INCLUDE profil_sag_sifre_email.html -->
    <!-- ENDIF -->

    <!-- IF DO == "imza" -->
    <!-- INCLUDE profil_sag_imza.html -->
    <!-- ENDIF -->


    <!-- IF DO == "avatar" -->
    <!-- INCLUDE profil_sag_avatar.html -->
    <!-- ENDIF -->
    
    <!-- IF DO == "abonelik" -->
    <!-- INCLUDE profil_sag_abonelikler.html -->
    <!-- ENDIF -->


    
    </td>
  </tr>
</table>



