<table width="8%" border="0" cellpadding="0" cellspacing="10" style="position:absolute;  margin-left:570px; margin-top:-200px;">
  <tr>
   <!-- BEGIN smiliesrow -->
   <td  valign="top" align="center">
    <a href="javascript:;" onclick="tinyMCE.execCommand('mceInsertContent',false,'<img src=\'{smiliesrow.IMG_SRC}\' width=\'18\' height=\'18\'>'); return false;"><img src="{smiliesrow.IMG_SRC}" width="18" height="18"></a>  
   </td>
   {smiliesrow.TRLER}
   <!-- END smiliesrow --> 
  </tr>
  
  
  


</table>
