 
    <!-- INCLUDE tinymice.html -->
  
  

 
<div class="sag_taraf_profil">
       <div class="headerbar">
        Kullanýcý Gruplarýný Yönet       </div>
      <div class="sag_taraf_profil_ic">

<div class="ayar_baslik">Grubu Düzenle </div>
 <form id="gruplar" name="gruplar" method="post" action="sistem/grup_islemleri.php">  
  <input name="grup_islemi" type="hidden" class="" id="grup_islemi" value="grup_guncelle" size="50" maxlength="50" />
  
    <input name="grup_id" type="hidden" class="" id="grup_id" value="{GRUP_ID}" size="50" maxlength="50" />

<table width="100%" border="0" cellspacing="10" cellpadding="0">  
          <tr>
    <td width="32%" valign="top">Grup Adý:</td>
    <td width="68%" valign="top">
  <input name="grup_adi" type="text" class="" id="grup_adi" value="{GRUP_ADI}" size="50" maxlength="50" />
            <br />
    <span class="sag_taraf_profil_ic_desc">Grubun hangi isimle görüneceði.</span>     </td>
  </tr>
          <tr>
    <td valign="top">Grup Tarifi</td>
    <td valign="top">
    <input name="grup_desc" type="text" class="" id="grup_desc" value="{GRUP_DESC}" size="50" maxlength="50" />
            <br />
    <span class="sag_taraf_profil_ic_desc">Grubun tanýtýmý.</span>     </td>
  </tr>
  <tr>
    <td valign="top">Grup Rütbesi</td>
    <td valign="top">
    <input name="grup_rutbe_ismi" type="text" class="" id="grup_rutbe_ismi" value="{GRUP_RUTBE}" size="50" maxlength="50" />
            <br />
    <span class="sag_taraf_profil_ic_desc">Grubun görünecek rütbe ismi.</span>     </td>
  </tr>
  
    <tr>
    <td valign="top">Grup Resmi</td>
    <td valign="top">
    
      <select name="grup_rutbe_resim" id="select">
       <!-- BEGIN rutberow -->
        <option value="{rutberow.FILE}" {rutberow.SELECTED} >{rutberow.FILE}</option>
         <!-- END rutberow -->
      </select>

            <br />
    <span class="sag_taraf_profil_ic_desc">Grubun rütbesinin resmi.</span>     </td>
  </tr>
  
  
    <tr>
    <td valign="top">Grup Rengi</td>
    <td valign="top">
    <script type="text/javascript" src="jscolor/jscolor.js"></script>
    <input name="grup_renk" type="text"  class="color" id="grup_renk" value="{GRUP_RENK}" maxlength="50" />
            <br /> <br />
    <span class="sag_taraf_profil_ic_desc">Grubun görüneceði renk.<strong style="color:#CC0000;">Üzerine Týklayýnýz.</strong></span>     </td>
  </tr>
  </table>
  <br />

  <div align="center">   
    <input type="submit" name="button" id="button" value="Grubu Güncelle" class="buton" />
  </div>
</form>
     <br />
     
     
    </div>
<!-- sag_taraf_profil_ic --> 
    </div><!-- sag_taraf_profil --> 
