<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9" />
	<title>PHP Forum {BASLIK}</title>
<!-- CSS -->
	<link href="{TEMA_YOLU}/css/style.css" rel="stylesheet" type="text/css">
	<link href="{TEMA_YOLU}/css/sayfalama.css" rel="stylesheet" type="text/css">
<!--/ CSS -->


<!-- datepicker -->
	<link rel="stylesheet" href="datepicker/css/jquery.ui.all.css">
	<link rel="stylesheet" href="datepicker/css/demos.css">
	<script src="datepicker/js/jquery-1.7.1.js"></script>
	<script src="datepicker/js/jquery.ui.core.js"></script>
	<script src="datepicker/js/jquery.ui.widget.js"></script>
	<script src="datepicker/js/jquery.ui.datepicker.js"></script>
	<script src="datepicker/js/jquery.ui.datepicker-tr.js"></script>
    

	<script>
	$(function() {
		$.datepicker.setDefaults( $.datepicker.regional[ "" ] );
		$( "#datepicker" ).datepicker( $.datepicker.regional[ "tr" ] );
		$( "#locale" ).change(function() {
			$( "#datepicker" ).datepicker( "option",
				$.datepicker.regional[ $( this ).val() ] );
		});
	});
	</script>
<!--/ datepicker -->

</head>
<body>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<form action="sistem/login_yap.php" method="post">

<table width="25%" align="center" cellpadding="3" cellspacing="1" class="tablo_border">
 <tr class="gri_ust">
  <td colspan="2" align="left">Admin  Giriş</td>
 </tr>
 <tr class="tableRow">
  <td width="41%" align="left"><label for="kul">Kullanıcı</label></td>
  <td width="59%"><input name="kul" id="kul" size="30" maxlength="20"  type="text"></td>
 </tr>
 <tr class="tableRow">
  <td align="left"><label for="sifre2">Şifre</label></td><td align="left"><input name="sifre" id="sifre2" size="30" maxlength="30" value=""  type="password"></td>
 </tr>
 <tr class="tableBottomRow">
  <td colspan="2" align="center"><input name="Submit" id="Submit" value="Forum Giriş" tabindex="4" type="submit" class="buton">
   <input name="Reset" id="Reset" value="Temizle" tabindex="5" type="reset" class="buton">  </td>
 </tr>
</table>


</form>