<div class="sol_taraf_profil">
        <div class="arrowlistmenu">
            
            <div class="headerbar">Ana Ayar Menü</div>
            <ul>
              <li><a href="?do=ayar">Genel Ayarlar</a></li>
              <li><a href="?do=gruplar">Kullanýcýlar ve Gruplar</a></li>
            </ul>
          </div>
          
          <br />
          
          <div class="arrowlistmenu">
             <div class="headerbar">Forumlar</div>
            <ul>
              <li><a href="?do=forum_yonet">Forum Yönetimi</a></li>
              <li><a href="?do=forum_ekle">Forum Ekle</a></li>
              <li><a href="?do=gruplar">Moderatör Atama</a></li>
            </ul>
        
        </div>


	</div>
    
